[buildout]
include-site-packages = false
relative-paths = true
unzip = true
newest = false
download-cache = .cache
develop = .
parts = python-distribution setup.py __init__.py scripts
python = python-distribution

[project]
name = infi.devicemanager
namespace_packages = ['infi']
install_requires = ['distribute', 'infi.instruct', 'infi.crap', 'infi.exceptools', 'infi.wioctl']
install_requires_windows = []
install_requires_linux = []
install_requires_macosx = []
version_file = src/infi/devicemanager/__version__.py
description = Python bindings to Windows Device Manager's APIs
long_description = Python bindings to Windows Device Managers' API
console_scripts = ['rescan = infi.devicemanager.scripts:rescan']

[python-distribution]
recipe = infi.recipe.python:download
executable = parts/python/bin/python
download-base = ftp://ci.xsignnet.local/workspace/python
version = v2.7.1-206-gb51a009

[setup.py]
recipe = infi.recipe.template.version
input = setup.in
output = setup.py

[__init__.py]
recipe = infi.recipe.template.version
output = ${project:version_file}
input = inline:
	__version__ = "${infi.recipe.template.version:version}"

[scripts]
recipe = zc.recipe.egg
relative-paths = true
unzip = true
dependent-scripts = true
eggs = ${project:name}
	ipython
	nose
	mock
	redgreen
	coverage
	nose-achievements
	infi.unittest
interpreter = python

[eclipse]
recipe = rbco.recipe.pyeclipse
project-name = ${project:name}
python-version = 2.7
project-directory = ${buildout:directory}

[pydev]
recipe = pb.recipes.pydev
eggs = ${scripts:eggs}

